body {
    background-color: #84A178;
}
h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}
.list {
    margin: 0;
    padding-left: 0;

    list-style: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    padding-right: 16px;
    padding-left: 16px;

    outline: 2px solid black;
}
/* .section-gallery-reviews {
    padding-bottom: 228px;

    background-color: #ffffff;
    background-image: url('../images/img/products/Backgroud/backgroud_desktop.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */

.slideshow {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.item-gallery {
    position: absolute;
    max-width: 90vw;
    max-height: 80vh;
    opacity: 0;
    animation: slideshow 15s ease-in-out infinite;
}
@keyframes slideshow {
    from {
        opacity: 0;
        filter: grayscale(100%);
    }

    10% {
        opacity: 1;
        filter: grayscale(80%);
    }

    15% {
        opacity: 0;
        }
    }
.slideshow .i_1 {
    animation-delay: 5s;
    transform: translateX(-30px) rotate(-1deg);
}
    
.slideshow .i_2 {
    animation-delay: 10s;
    transform: translateX(-10px) rotate(1deg);
}
    
.slideshow .i_3 {
    animation-delay: 15s;
    transform: translateY(-30px) rotate(1deg);
}
.item-gallery {
    border-radius: 24px;
}



.list-reviews {
    text-align: center;
}
.customer-photo {
    margin-bottom: 30px;

    border-radius: 50%;
}
/* .container-reviews-text {
    max-width: 968px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;

    padding: 43px 109px;

    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.04em;
    
    color: #FCFCFC;

    background-color: #84A178;
    border-radius: 24px;
} */

/* SLIDER */

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
    align-items: flex-start;
}

.slick-dots {
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slick-dots li {
    list-style: none;
}
.slick-dots li:not(:last-child) {
    margin-right: 18px;
}

.slick-dots li button {
    width: 12px;
    height: 12px;

    padding: 0;

    font-size: 0;

    background-color: #D9D9D9;
    border-radius: 50%;
    border: 0;
}

.slick-dots li.slick-active button {
    background-color: #84A178;
}

/* -------ADAPTIVE-------- */

@media screen and (min-width: 480px) {
    .container {
        width: 480px;

        margin-right: auto;
        margin-left: auto;
    }
}
@media screen and (max-width: 767px) {
    .container-reviews-text {
        max-width: 280px;
    
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 32px;
    
        padding: 35px 39px;
    
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 12px;
        line-height: 2.58;

        color: #FCFCFC;
        background-color: #84A178;
        border-radius: 24px;
    }
    .customer-name {
        margin-bottom: 12px;

        font-weight: 500;
        font-size: 20px;
        line-height: 1.86;
        
        color: #131313;
    }
    .section-gallery-reviews {
        padding-bottom: 132px;
    
        background-color: #ffffff;
        background-image: url('../images/img/products/Backgroud/backgroud_mobile.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}